<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Enlazar archivo de css -->
    <link rel="stylesheet" href="assets/css/styles.css">

</head>
<body>
    <!-- En bloque -->
    <h1>Titulo</h1>
    <p>Hola</p>
    <hr>

    <!-- En línea -->
    <span class="saludo" id="saludoInicial">Hola</span>
    <img src="https://images.gameinfo.io/pokemon/256/p25f310.png" alt="">

    <a href="https://www.youtube.com/">YouTube</a>
    <a href="../index.html">index</a>

    <!-- Listas ordenadas -->
    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ol>

    <!-- Listas no ordenadas -->
    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>

    <!-- Css en el documento -->
    <style>
        body{
            background-color: aquamarine;
        }
    </style>

    <div>

    </div>

    

    <!-- JavaScript en el documento -->
    <!-- <script>
        alert("Hola mundo!")
    </script> -->

    <!-- Enlazar un archivo JavaScript -->
    <script src="assets/js/main.js"></script>

</body>
</html>